.dashboard{
    display: inline-block;
}
.dashboard_btn{
    width: 370px;
    height: 150px;
    margin-right: 10%;
    font-size: 35px;
}
.dashboard_btn:hover{
    color: tomato;
}
input{
    width: 50%;
}
label{
    margin-right: 35px;
}