
input + label{
  color: yellow; /* Цвет текста */
}


input:focus + label{
  color: yellow!important;
}
input:focus{
  border-bottom: 1px solid yellow!important;
  box-shadow: 0 1px 0 0 yellow!important;
}

.input-field label {
  color: black;
}
